.header-container{
    display: flex;
    flex-direction: column;
    height: 131px;
}

.header{
    height: 70px;
    width: 360px;
}


.profile-picture{
    position: absolute ;
    width: 51px;
    height: 51px;
    left: 12px;
    top: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}

.button{
    position: absolute;
    width: 232px;
    height: 28px;
    left: 75px;
    top: 25px;
    padding: 0;
    background: none;
    border: 2px solid #e6e6e6;
    outline: none;
}


.search{
    position: absolute;
    width: 36px;
    height: 28px;
    left: 316px;
    top: 25px;
    border: none;
    background: #fff;
    outline: none;
}

